
input, select {
	font-size: 16px;
}

hr {
    border: 0;
    height: 2px;
	width: 100%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

br
{
	clear: left;
}

a:link {
	text-decoration: none;
	color: #000066;
}

a:visited {
	color: #000066;
}

table {
    width: 100%;
	font-size: 14px;

}

th {
	background-color: #000066;
	color: #e1e1e1;
	padding: 7px;
	font-weight: normal;
}

tr {   
	background-color: #ffffff;
	color: #000000;
}

tr:hover {   
	background-color: #afafaf;
	color: #000000;
}

td {
	padding: 3px 13px 3px 20px;
	border-collapse: collapse;
	border-bottom: 1px solid black;
}

img {
	vertical-align: middle;
}

.table_corners {
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
/*	font-size: 12px;  */
}

.obs_button {
  display: inline-block;
  width: 175px;
  padding: 5px 17px;
  font-family: 'Patua One', cursive;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #ffffff;
  border-style: solid;
  border: 1px solid green;
  border-radius: 8px;
  box-shadow: 0 2px #999;
}

.obs_button:hover {
	background-color: #afafaf;
}

.obs_button:active {
  background-color: #f5f5f5;
  box-shadow: 0 2px #666;
}
.obs_cancel {
  display: inline-block;
  margin-left: 15px;
  padding: 5px 5px;
  font-family: 'Patua One', cursive;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #ffffff;
  border-style: solid;
  border: 1px solid grey;
  border-radius: 8px;
  box-shadow: 0 2px #999;
}
.obs_disable {
  display: inline-block;
  margin-left: 15px;
  padding: 5px 5px;
  font-family: 'Patua One', cursive;
  font-size: 16px;
  cursor: default;
  text-align: center;
  text-decoration: none;
  color: #a1a1a1;
  background-color: #ffffff;
  border-style: solid;
  border: 1px solid #a1a1a1;
  border-radius: 8px;
  box-shadow: 0 2px #999;
}

.obs_start {
  display: inline-block;
  margin-left: 15px;
  padding: 5px 5px;
  font-family: 'Patua One', cursive;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: green;
  background-color: #ffffff;
  border-style: solid;
  border: 1px solid green;
  border-radius: 8px;
  box-shadow: 0 2px #999;
}
.obs_stop {
  display: inline-block;
  margin-left: 15px;
  padding: 5px 5px;
  font-family: 'Patua One', cursive;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #cc5050;
  border-style: solid;
  border: 2px solid red;
  border-radius: 8px;
  box-shadow: 0 2px #999;
}


.centered {
  position: absolute;
  left: 50%;
  margin-left: -15%;
}

.big {
	font-size: 16px;
}

.wrapper {
	min-height: 100%;
	position: relative;
	font-family: Tahoma, Geneva, sans-serif;
	color: black;
	font-size: 14px;
	background-color: #E1E1E1;
	overflow: auto;
}

.header {
	overflow: auto;
}

.content {
	overflow: auto;
/*	font-size: 14px; */
}

.footer {
	height: 30px;
	width: 99%;
    position: absolute;
    bottom: 0%;  
    left: 0;
	font-family: Tahoma, Geneva, sans-serif;
	color: black;
	background-color: #E1E1E1;
}

fieldset {
	margin-left: auto; margin-right: auto;
	width: 750px;
	border: 0px;
	padding-bottom: 40px;
}
label.selector {
	margin-left: 15px;
	font-weight: bold;
}

label.formheading {
	float: left;
	margin-right: 1em;
	text-align: right;
	width: 200px;
	padding: 5px;
}
.error {
	padding:10px;
	color:red;
	text-decoration:italic;
}
.message {
	margin-left: auto; margin-right: auto;
	width: 750px;
	border: 0px;
	padding: 15px 0px;
	font-weight: bold;
	color: #333333;
}

input[type="submit"] {
	font-weight: bold;
	margin-left: 260px;
}
label.columnright
{
	width: 200px;
	padding: 5px;
	float: left;
	margin-bottom: 10px;
	text-align: left;
}

#nav {
	margin-top: 30px;
	font-family: 'Patua One', cursive;
	font-size: 18px;
}

#navlogo {
	float: left;
	margin-left: 0px;
}

#navleft {
	float: left;
	margin-left: 20px;
}

#navcenter {
	float: left;
	margin-left: 220px;
}

#navright {
	float: right;
	margin-right: 20px;
}

#navline {
	float: left;
	margin-left: 20px;
	margin-top: 30px;
	width: 75%;
}

#dashboard {
	height: 400px;
	width: 99%;
/*	font-size: 14px; */
}

#dashbd-menu {
	float: left;
	margin-left: 20px;  
	margin-top: 20px;
	width: 175px;
}

#dashbd-table {
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	min-width: 700px;
}

.listhead {
	text-align: center;
	padding: 7px 0px;  
	background-color: #000066;
	color: #e1e1e1;	
	
}

.rounded_corners {
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	width: 175px;
	margin-bottom: 5px; 
}

.list {
	display: block;
	text-align: center;
	padding: 5px 0; 
	margin-bottom: 4px; 	
	width: 174px;
	cursor:pointer;
}

.active {
	background-color: white;
	color: #cc0000;
}

.list:hover:not(.active) {   
	background-color: #afafaf;
}

}
.menutable {
	width: 100%;
	margin-bottom: 15px;
/*	font-size: 14px; */
}

#selector {
	margin: auto;
	width: 75%;

}

#video {
	float: left;
	width: 375px;
	height: 600px;
	overflow: auto;
}

#comments {
	float: left;
	width: 20%;
	height: 250px;
	border: 1px solid #5f5f5f;
	overflow-y: scroll;
}

#video_playback {
	float: left;
	width: 455px;
	height: 600px;
	overflow: auto;
}

#comment_playback {
	float: left;
	left: 475px;
	width: 50%;
	height: 250px;
	border: 1px solid #5f5f5f;
	overflow: auto;
}

#domain_selector {
	float: left;
	width: 45%;
	margin: 10px 20px;
}

#comment_display {
	float: left;
	margin: 10px 20px;
}

#right {
	text-align: right;
}

.domain {
	display: none;
	float: left;
		margin: 10px 10px;
}

.behavior {
	display: none;
	float: left;
		margin: 10px 10px;
}

.domain2 {
	float: left;
		margin: 10px 10px;
}

.behavior2 {
	float: left;
		margin: 20px 10px;
	height: 400px;
}


/* tab menu styles for observation selectors */
.tabmenu li {
    float: left;
	list-style-type: none;
	font-size: 12px;
}

.tabmenu a {
	display: block;
	padding: 8px;
	background-color: white;
	outline: 1px #111 solid;
}

.tabmenu li a:hover:not(.active) {
	background-color: #afafaf;
}

.tabmenu li .active {
	background-color: #000066;
	opacity: 0.7;
	color: white; 
	
}

